body {
  line-height: 20px;
  background-color: #cafafe;
}

.App {
  text-align: center;
  

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-card {
  border: 2.25px solid #61dafb;
  box-shadow: 5px 10px #61dafb;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.card-title {
    font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #242582;
  border-radius: 5px;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar li:last-child {
  float: right;
}

